dev/lambda_invoke_test/lambda-test-workflow.json
{
  "name": "Lambda Image Processing Test",
  "nodes": [
    {
      "parameters": {},
      "id": "f8b0c9e2-8b7a-4c3d-9e2f-1a2b3c4d5e6f",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "test-file",
              "name": "file_key",
              "value": "test-image.jpg",
              "type": "string"
            }
          ]
        }
      },
      "id": "a1b2c3d4-5e6f-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Set Test Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "invoke",
        "function": "TokushimaReturn_edit_img",
        "qualifier": "$LATEST",
        "invocationType": "RequestResponse",
        "payload": "={{ JSON.stringify({file_key: $json.file_key}) }}"
      },
      "id": "b2c3d4e5-6f7g-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "AWS Lambda - Image Processing",
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "aws": {
          "id": "aws-credentials",
          "name": "AWS Credentials"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-status",
              "name": "lambda_status",
              "value": "={{ $json.statusCode }}",
              "type": "number"
            },
            {
              "id": "result-body",
              "name": "lambda_response",
              "value": "={{ $json.body }}",
              "type": "string"
            },
            {
              "id": "processed-file",
              "name": "processed_file_name",
              "value": "={{ $('Set Test Data').item.json.file_key.replace('.jpg', '_back.jpg') }}",
              "type": "string"
            },
            {
              "id": "execution-time",
              "name": "execution_timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "c3d4e5f6-7g8h-9i0j-1k2l-m3n4o5p6q7r8",
      "name": "Format Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-condition",
              "leftValue": "={{ $json.lambda_status }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4e5f6g7-8h9i-0j1k-2l3m-n4o5p6q7r8s9",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-message",
              "name": "result",
              "value": "✅ Lambda関数が正常に実行されました！",
              "type": "string"
            },
            {
              "id": "success-details",
              "name": "details",
              "value": "画像処理が完了しました。処理後ファイル: {{ $json.processed_file_name }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "e5f6g7h8-9i0j-1k2l-3m4n-o5p6q7r8s9t0",
      "name": "Success Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1340, 240]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-message",
              "name": "result",
              "value": "❌ Lambda関数の実行でエラーが発生しました",
              "type": "string"
            },
            {
              "id": "error-details",
              "name": "details",
              "value": "ステータスコード: {{ $json.lambda_status }}, レスポンス: {{ $json.lambda_response }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "f6g7h8i9-0j1k-2l3m-4n5o-p6q7r8s9t0u1",
      "name": "Error Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1340, 360]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Data": {
      "main": [
        [
          {
            "node": "AWS Lambda - Image Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Lambda - Image Processing": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-04T08:40:00.000Z",
      "updatedAt": "2025-01-04T08:40:00.000Z",
      "id": "lambda-test",
      "name": "Lambda Test"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-04T08:40:00.000Z",
  "versionId": "1"
}
