dev/lambda_invoke_test/lambda-test-workflow-v2.json
{
  "name": "Lambda Image Processing Test",
  "nodes": [
    {
      "parameters": {},
      "id": "b7ee44a2-c2cb-4ae2-b8d5-1009acf25437",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-976, 144]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "file_key",
              "stringValue": "map.png"
            }
          ]
        },
        "options": {}
      },
      "id": "3dd7e260-333d-4fd9-9186-144132c0b394",
      "name": "Set Test Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [-752, 144]
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:ap-northeast-1:627861602727:function:TokushimaReturn_edit_img_r7",
        "payload": "={{ JSON.stringify({file_key: $json.file_key}) }}"
      },
      "id": "baa15a03-422f-408f-afe6-0d85f2e3b5e3",
      "name": "AWS Lambda - Image Processing",
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [-528, 144],
      "credentials": {
        "aws": {
          "id": "KX5pZiVVuzNTekoJ",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e2020f0a-0907-4886-a1fd-6bbcf3066f7a",
      "name": "Format Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [-320, 144]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-condition",
              "leftValue": "={{ $json.lambda_status }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4e5ff28c-9a78-411f-bc44-beaa01984be3",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-96, 144]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5bdea434-61ee-4b9b-9b7e-309e2f7f46e5",
      "name": "Success Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [128, 80]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "87ba15a0-cb70-498d-bead-a373e11a1195",
      "name": "Error Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [128, 208]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Data": {
      "main": [
        [
          {
            "node": "AWS Lambda - Image Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Lambda - Image Processing": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d9806f44-56e9-45b5-a035-7081d625863a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "311ace5c97116198cb1915b838232a28c835386515a59c6c2e0d74060ab88ab4"
  },
  "id": "BOiaGRTpjqFp6xLA",
  "tags": [
    {
      "createdAt": "2025-08-04T08:47:51.450Z",
      "updatedAt": "2025-08-04T08:47:51.450Z",
      "id": "4Dwh6MoGsufnlFVv",
      "name": "Lambda Test"
    }
  ]
}
